body {
  background-color: darkslategray;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(80, 40, 155);
  color: white;
  border: 2px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#editor {
  position: absolute;
  right: 0%;  
  top: 0;    /* Align to the top */
  width: 50vw; /* 50% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}

/* LessonTextBox.css */
.lesson-textbox {
  text-align: left;
  margin-left: 3px;
  max-width: 40vw;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
p {
  color: white;
}
/* LessonTextBox.css */

.lesson-textbox {
  text-align: left;
  max-width: 48vw;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.solidity-code {
  background-color: #f5f5f5;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  overflow-x: auto;
}

